./env
/env/
env/
test.c
makefile

# Byte-compiled / optimized / DLL files
__pycache__
**/__pycache__/**
*.py[cod]
*$py.class

# migrations/**
**/migrations/**
!**/migrations
!**/migrations/__init__.py
db.sqlite3