version: '3.8'
services:
  app:
    build: .
    volumes:
      - .:/django_backend
    ports:
      - 8000:8000
    image: app:django_backend
    container_name: django_container
    command: python manage.py runserver 0.0.0.0:8000