{% extends 'base.html' %}

{% load static %}


{% block styles %}
<style>
  body{
    height:'100vh';
    width:'100vw';
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #EFFCFF;
  }

</style>
{% endblock styles %}


{% block content %}

<div class="cover-container">
  <center>

    <img alt="logo" src="{% static 'images/logo.png' %}"/>
  </center>
  <h1>Welcome to  TrixWallet api <a class="btn btn-primary" href="{% url 'api-docs' %}">View Api docs</a></h1>
  
</div>

{% endblock content %}

{% block script %}

{% endblock script %}